<!DOCTYPE html>
<html> 
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div>
        <title>Your Journal</title>
        </div>
    </head>
    <style>
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        
    </style>
    <body>
        <h1>Your Journal:</h1>
        <p>Write below to get started</p>
    </body>
    </html>
</html>